.button {
  padding: rem(10) rem(10);
  border-radius: rem(31);
  font-size: rem(13);
  line-height: rem(10);
  letter-spacing: rem(1.5);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 3px 18px -3px $button-hov;
  }
  
  &--submit {
    height: rem(32);
    border-radius: rem(32);
    padding: rem(9.5);
    line-height: rem(13);
    background-color: $default-color;
  }

  &--enter {
    padding-left: rem(23);
    padding-right: rem(23);
    background-color: $mainFontColor;
    color: $default-color;
  }

  &--buy {
    height: rem(42);
    border-radius: rem(38);
  }

  &__img-tel {
    width: rem(13);
  }

  &__img-bag {
    width: rem(22);
  }
}