.content-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: rem(70);
  padding-top: rem(88);
  padding-left: 17.15vw;
  padding-right: 21.9vw;

  @media screen and (max-width: $lgDesktopWidth) {
    padding-top: rem(68);
		padding-left: 15vw;
    padding-right: 15vw;
  }

  @media screen and (max-width: $desktopWidth) {
    padding-top: rem(55);
		padding-left: 7vw;
    padding-right: 7vw;
  }

  &--col {
    flex-direction: column;
  }

  &--grey {
    background-color: $light-color;
  }
}