.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rem(70);
  padding-left: 17.15vw;
  padding-right: 17.15vw;
  background-color: $default-color;
  box-shadow: 0 2px 10px $neutral-secondary;

  @media screen and (max-width: $lgDesktopWidth) {
		padding-left: 15vw;
    padding-right: 15vw;
  }

  @media screen and (max-width: $desktopWidth) {
		padding-left: 7vw;
    padding-right: 7vw;
  }

  @media screen and (max-width: $smDesktopWidth) {
    height: rem(50);
    padding-left: 5vw;
    padding-right: 5vw;
  }
}